.dat-cas {
    display: flex;
    flex-direction: row;
}

.activated {
    background-color: #8d91b3;
}

.data {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 400px;
}

